// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FFC94C;
$orange: #BDE4A8;
$green: #729B79;
$gray: #403F4C;
$light-gray: #CACFD6;
$black: #50514F;
$white: #FFFFFF;
