.wrapper-white {
  width: 100%;
  background-color: $white;
  padding: 20px;
}

.wrapper-yellow {
  width: 100%;
  background-color: $yellow;
  padding: 20px;
}

.wrapper-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  color: $black;
  font-weight: bold;
}
